$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-main-bg: #f6f6f6;
$color-location-bg: #eaeaea;
$color-footer-bg: #353535;

$font-text: "roboto", sans-serif;
$font-title: "Shrikhand", cursive;

$mobile: 480px;

$tablet: 1024px;

$desktop: 1025px;

$spinner-duration: 3s;
