@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";

// @import "vendors/bootstrap";

@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/spinner";

@import "pages/home";
@import "pages/restaurant";

// @import "themes/theme";
// @import "themes/admin";

.heart {
	width: 1.5rem;
	fill: transparent;
	stroke: black;
	stroke-width: 10;

	&:hover {
		animation: fillHeart 2s;
		animation-fill-mode: forwards;
	}
}

@keyframes fillHeart {
	from {
		fill: transparent;
		stroke: black;
	}
	to {
		stroke: $color-primary;
		fill: $color-primary;
	}
}
