.footer {
	padding: 0 5%;
	background-color: $color-footer-bg;
	color: white;
	overflow: hidden;
	&__heading {
		margin: 1.5rem 0;
	}
	li {
		margin-bottom: 0.8rem;
	}
	i {
		width: 0.8rem;
		margin-right: 0.8rem;
	}

	@media screen and (min-width: $desktop) {
		padding: 1rem 0;
		margin: 0 auto;
		text-align: center;
		&__heading {
			font-size: 1.5rem;
		}
	}
}
