.spinner-container {
	position: absolute;
	top: 0;
	z-index: 0;
	background-color: $color-main-bg;
	animation: spinner-container $spinner-duration;
	&__spinner {
		@media screen and (min-width: $desktop) {
			animation: spinner-lg $spinner-duration;
		}
		@media screen and (min-width: $mobile) and (max-width: $tablet) {
			animation: spinner-md $spinner-duration;
		}
		@media screen and (max-width: $mobile) {
			animation: spinner-sm $spinner-duration;
		}
		border: 0px solid transparent;
		border-radius: 50%;
		box-sizing: border-box;
	}
	&__background {
		background: url("../../img/logo/ohmyfood@2x.svg") no-repeat center;
		@media screen and (min-width: $desktop) {
			background-size: 10vw;
		}
		@media screen and (min-width: $mobile) and (max-width: $tablet) {
			background-size: 20vw;
		}
		@media screen and (max-width: $mobile) {
			background-size: 20vw;
		}
	}
}

@keyframes spinner-container {
	0% {
		height: 100vh;
		width: 100%;
		z-index: 1;
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		height: 100vh;
		width: 100%;
		z-index: 1;
		opacity: 0;
	}
}

@keyframes spinner-lg {
	0% {
		width: 15vw;
		height: 15vw;
		margin: 35vh auto;
		border-width: 10px;
		border-top-color: #9356dc;
		border-bottom-color: #ff79da;
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
		border-width: 1px;
	}
	100% {
		width: 15vw;
		height: 15vw;
		margin: 35vh auto;
		transform: rotate(360deg);
		border-width: 10px;
		border-top-color: #9356dc;
		border-bottom-color: #ff79da;
	}
}

@keyframes spinner-md {
	0% {
		width: 40vw;
		height: 40vw;
		margin: 35vh auto;
		border-width: 10px;
		border-top-color: #9356dc;
		border-bottom-color: #ff79da;
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
		border-width: 1px;
	}
	100% {
		width: 40vw;
		height: 40vw;
		margin: 35vh auto;
		transform: rotate(360deg);
		border-width: 10px;
		border-top-color: #9356dc;
		border-bottom-color: #ff79da;
	}
}

@keyframes spinner-sm {
	0% {
		width: 40vw;
		height: 40vw;
		margin: 35vh auto;
		border-width: 10px;
		border-top-color: #9356dc;
		border-bottom-color: #ff79da;
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
		border-width: 1px;
	}
	100% {
		width: 40vw;
		height: 40vw;
		margin: 35vh auto;
		transform: rotate(360deg);
		border-width: 10px;
		border-top-color: #9356dc;
		border-bottom-color: #ff79da;
	}
}

.index-body {
	overflow: visible;
	animation: hideBody $spinner-duration;
}

@keyframes hideBody {
	0% {
		overflow: hidden;
	}
	90% {
		overflow: hidden;
	}
	100% {
		overflow: visible;
	}
}
